.App-AddDetails{
  animation: detailsEntry 0.3s ease-in-out;
}

.details-go-back{
  color: #9F9F9F;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #D6E0DC;
}

.details-go-back img{
  width: 8px;
}

.App-AddDetails.wide-screen .details-go-back img{
  /* width: 10px; */
}

.details-go-back span:hover{
  cursor: pointer;
  text-decoration: underline;
}

.details-go-back span{
  margin-left: 10px;
  font-weight: 600;
  font-size: 12px;
}

.App-AddDetails.wide-screen .details-go-back span{
  /* font-size: 15px; */
}

.details-description{
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  color: #303030;
}

.App-AddDetails.wide-screen .details-description{
  /* font-size: 15px; */
  margin-top: 8px;
}

.finish-message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: green;
  font-size:13px;
  font-weight: 600;
}

.App-AddDetails.wide-screen .finish-message{
  /* font-size:18px; */
}


@keyframes detailsEntry{
  0% {opacity: 0; transform: translate(-50px)}
  100% {opacity: 1; transform: translate(0px)}
}