.App-CheckListItem-container{
  border-bottom: 1px solid #D6E0DC;
}

.App-CheckListItem{
  display: grid;
  width:100%;
  grid-template-rows:45% 50%;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas: "ico title open"
                        "ico description open";
  cursor: pointer;
  min-height: 75px;
  cursor: pointer;
}

.App-CheckListItem:hover{
  transition: all 0.3s;
  background-color: #f6fbf9;
}




.item-icon{
  grid-area: ico;
  border-radius: 50%;
  width:20px;
  justify-self: center;
  align-self: center;
}

.item-icon-selected {
  border-radius: 50%;
  background-color: #53B58D;
  align-self: center;
  justify-self: center;
  width: 25px;
  padding:2px;
  grid-area: ico;
}

.App-CheckListItem-container.wide-screen .item-icon{
  width:30px;
}

.item-icon.item-done{
  background-color: #078a07;
}

.item-title{
  grid-area: title;
  font-size: 13px;
  font-weight: 600;
  align-self: flex-end;
}

.App-CheckListItem-container.wide-screen .item-title{
  /* font-size: 18px; */
}

.item-description{
  margin-top:5px;
  grid-area: description;
  font-size: 12px;
  font-weight: 400;
}

.App-CheckListItem-container.wide-screen .item-title{
  /* font-size: 15px; */
}

.item-open{
  transition: transform 0.3s;
  grid-area: open;
  justify-self: center;
  align-self: center;
  transform:rotate(180deg);
  width: 8px;
}

.App-CheckListItem-container.wide-screen .item-open{
  /* width: 10px; */
}

.item-open.item-isopen{
  transition: all 0.3s;
  transform:rotate(270deg)
}

/* .item-component{
  animation: componentEntry 0.3s ease-in-out;
}


@keyframes componentEntry {
  0% {height: 0%;}
  100% {height: fit-content}
} */