.App-UploadCard{  
  display: grid;
  grid-template-rows: 45% 1fr;
  grid-template-columns: 75px 1fr;
  grid-template-areas: "ico title"
                        "ico description";
  background-color: #f6fbf9;
  border: 2px solid #53b58ee8;
  border-radius: 5px;
  margin:10px 0px;
  padding: 10px 10px;
  width:100%;
  cursor: pointer;
  min-height: 120px;
  box-sizing: border-box;
}

.App-UploadCard.wide-screen{
  /* margin:20px 0px; */
  /* padding: 20px 10px; */
}

.App-UploadCard:hover{
  transition: all 0.3s;
  transform: scale(1.005);
  box-shadow: 0px 0px 10px #d4d4d4e8;
  /* border: 2px solid grey; */
}

.UploadCard-Icon{
  grid-area:  ico;
  justify-self: center;
  align-self: center;
}

.UploadCard-Title{
  grid-area: title;
  font-weight: 600;
  font-size: 13px;
  align-self: flex-end;
}

.App-UploadCard.wide-screen .UploadCard-Title{
  /* font-size: 18px; */
}

.UploadCard-Description{
  grid-area: description;
  font-weight: 400;
  font-size: 12px;
  margin-top:5px
}

.App-UploadCard.wide-screen .UploadCard-Description {
  /* font-size: 15px; */
}